/* Estilo geral para o carrossel (sempre vertical) */
.embla {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Ajuste conforme necessário */
  overflow-y: auto; /* Permite a rolagem vertical */
  scroll-snap-type: y mandatory; /* Faz o scroll "snap" no eixo Y */
  -webkit-overflow-scrolling: touch; /* Habilita a rolagem suave para dispositivos móveis */
}
/* Personalização da barra de rolagem */
.embla::-webkit-scrollbar {
  width: 10px;
}

.embla::-webkit-scrollbar-track {
  background: black;
}

.embla::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.embla::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.embla__container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Ajuste conforme necessário */
}

/* Para dispositivos móveis (a rolagem vai funcionar com o dedo) */
@media (max-width: 768px) {
  .embla {
    overflow-y: scroll; /* Scroll com o dedo */
    -webkit-overflow-scrolling: touch; /* Melhor para rolagem no celular */
  }

  .embla__container {
    /* Se necessário, ajustar o espaçamento entre os itens no mobile */
  }
}
